---
---
@charset "utf-8";
@import 
  "bourbon/bourbon",
  "base/grid-settings",
  "base/base", 
  "neat/neat",
  "mixins"

;

@import url("//fonts.googleapis.com/css?family=Raleway");

// Our variables
$base-font-family: Raleway, sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



@include media(max-width 400px 1) {
  @include scale-fonts(1.1rem);
}
@include media(min-width 401px max-width 600) {
  @include scale-fonts(1.2rem);
}


@import
  "base",
  "layout",
  "nav",
  "texture",
  "/css/owl/owl.carousel.css", "/css/owl/owl.theme.css", "carousel"
;
