---
---
@charset "utf-8";
@import 
  "bourbon/bourbon",
  "base/grid-settings",
  "base/base", 
  "neat/neat";

@import url("http://fonts.googleapis.com/css?family=Raleway|Lato");

// Our variables
$base-font-family: "Raleway", "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

@import
  "base",
  "layout",
  "syntax-highlighting"
;

html * {
  h1,h2,h3,h4,h5,h6,li,dd,p {
    font-family: $base-font-family; 
  }
}

/*
 * Temporary graphics
 */

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-left-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
}

.placeholder-logo {
  @include border-radius(50%);
}
