<h2>Testimonials</h2>
<div id="testimos-slider" class="owl-carousel">
  {% for item in site.data.testimonials %}
    <div class="carousel-slide">
      <div class="slide-inner testimonial">
        <ul>
          <li>
            <img src="{{ site.baseurl }}/images/logos/{{ item.logo }}" />
          </li>
          <li>
            <h4><a href="{{ item.ref }}">{{ item.person }}</a></h4>
          </li>
          <li><h5>{{ item.position}} at {{ item.company }}.</h5></li>
          <li><p>{{ item.quote }}</p></li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>