<h3>Testimonials</h3>
<div id="testimos-slider" class="owl-carousel">
  {% for item in site.data.testimonials %}
    <div class="carousel-slide">
      <div class="slide-inner testimonial">
        <ul>
          <li>
            <a href="{{ item.url }}" target="_blank">
              <img src="{{ site.baseurl }}/images/logos/{{ item.logo }}" />
            </a>
          </li>
          <li>
            <h4>{{ item.person }}</h4>
          </li>
          <li><h5>{{ item.position}} at {{ item.company }}.</h5></li>
          <li><p>{{ item.quote }}</p></li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>