<footer class="site-footer">
    <div class="footer-logo">
      <object data="/images/logo.svg" type="image/svg+xml"></object>
    </div>
    <div class="footer-links">
      <ul class="level-1">
        <li><h3>Content</h3></li>
        <li><a href="/about">About</a></li>
        <li><a href="javascript:void(0)">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="level-1">
        <li><h3>Follow Us</h3></li>
        <li>
          <ul class="level-2">
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/blog"><i class="fa fa-paper-plane-o fa-lg"></i></a>
            </li>
          </ul>
        </li>
        <li>
          <ul class="level-2">
            <li>
              <a href="javascript:void(0)">Facebook</a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-facebook fa-lg"></i></a>
            </li>
          </ul>
        </li>
        <li>
          <ul class="level-2">
            <li>
              <a href="javascript:void(0)">Twitter</a>
            </li> 
            <li>
              <a href="javascript:void(0)"><i class="fa fa-twitter fa-lg"></i></a>
            </li>         
          </ul>
        </li>
      </ul>
      <ul class="level-1">
        <li><h3>Legal</h3></li>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
    </div>
    <hr>
    <p>© {{ 'now' | date: "%Y" }} {{ site.copyright }}</p>
</footer>
