<footer class="site-footer">
    <div class="footer-logo">
      <object data="/images/logo.svg" type="image/svg+xml"></object>
    </div>
    <div class="footer-links">
      <ul>
        <li><h3>Content</h3></li>
        <li><a href="/about">About</a></li>
        <li><a href="javascript:void(0)">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul>
        <li><h3>Follow Us</h3></li>
        <li>
          <a class="icon" href="javascript:void(0)">
            <i class="fa fa-stack facebook">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </i>
          </a>
        </li>
        <li>
          <a class="icon" href="javascript:void(0)">
            <i class="fa fa-stack twitter">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </i>
          </a>
        </li>         

      </ul>
      <ul>
        <li><h3>Legal</h3></li>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
    </div>
    <hr>
    <p>© {{ 'now' | date: "%Y" }} {{ site.copyright }}</p>
</footer>
