<nav class="navigation">
  <div class="navigation-container">
    <div class="navigation-wrapper">
      <div class="logo">  
        <a href="{{ site.baseurl }}/">
          <object data="/images/logo.svg" type="image/svg+xml"></object>
          <h1>{{ site.title }}</h1>
        </a>
      </div>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-navicon fa-stack-1x"></i>
        </span>
      </a>
      <div class="nav">
        <ul id="navigation-menu">
        {% assign url = page.url %}
        {% for link in site.data.links %}
          <li class="nav-link{% if url == link.url %}class=" active"{% endif %}">
            <a href="{{ link.url }}">{{ link.tag }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>

