<nav class="navigation">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      <object data="/images/logo.svg" type="image/svg+xml"></object>
      <h1>{{ site.title }}</h1>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/blog">Blog</a></li>
        <li class="nav-link"><a href="/contact">Contact</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Services</a></li>
        <li class="nav-link"><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>