@import "basic";


img {
    border: none;
    outline: none;
}

/*
 * Site footer
 */
.site-footer {
    $base-spacing: 1em;
    @include linear-gradient(#666, #006EFF);
    $footer-background: desaturate(darken($base-accent-color, 20), 30);
    $footer-color: white;
    $footer-link-color: transparentize($footer-color, .6);
    $footer-disclaimer-color: transparentize($footer-color, .6);

    // background: $footer-background;
    padding: $base-spacing*2 $gutter;
    width: 100%;
    .footer-logo {
        width: 50px;
        height: 50px;
        margin: 1rem auto 1rem auto;
        padding: 3px;
        border: 0px;
        @include border-radius(50%);
        @include background(linear-gradient(#efefef, lighten(#333, 50%)) left repeat);
        object {
            width: 45px;
            padding: 2px;
        }

    } 

    .footer-links {
        @include clearfix;
        margin-bottom: $base-spacing;

        @include media($medium-screen) {
          @include shift(3);
        }
    }

    ul {
        margin-bottom: $base-spacing*2;
        margin-left: $base-spacing - 0.5em;

        @include media($medium-screen) {
            @include span-columns(3);
            @include omega(3n);
            @include clearfix;
        }
    }

    li {
        text-align: center;

        @include media($medium-screen) {
            text-align: left;
        }
    }

    li a {
        color: $footer-link-color;

        &:hover {
            color: transparentize($footer-color, 0);
        }
    }

    li h3 {
        color: $footer-color;
        font-size: 1em;
        font-weight: 800;
        margin-bottom: .4em;
    }  

    hr {
        border: 1px solid transparentize($footer-disclaimer-color, .3);
        margin: 0 auto $base-spacing;
        width: 12em;
    }

    p {
        color: $footer-disclaimer-color;
        font-size: .9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }
}


.contact-page {

    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}