/*
 * Colour scheme
 */
$blu: #062C57;
$red: #8C1212;
$gre: #249131;
$pur: #43186E;

#services-slider {
  
  a:hover {
    text-decoration: none;
  }

  .carousel-slide {
    @include border-radius(10px);
    color: #ffffff;

    ul {
      padding: 1em 1em;
      list-style-type: disc;
      list-style-position: outside;
    }
  }

  .red {
    @include background(linear-gradient($red, lighten($red, 20%)) left repeat);

  }
  .gre {
    @include background(linear-gradient($gre, lighten($gre, 20%)) left repeat);

  }
  .pur {
    @include background(linear-gradient($pur, lighten($pur, 20%)) left repeat);

  }
  .blu {
    @include background(linear-gradient($blu, lighten($blu, 20%)) left repeat);
  }
}

#testimos-slider {
  img {
    max-width: em(150px);
  }
}