/*
 * Colour scheme
 */
$blu: #062C57;
$red: #8C1212;
$gre: #249131;
$pur: #43186E;

#services-slider {
  
  a:hover {
    text-decoration: none;
  }

  .carousel-slide {
    @include border-radius(10px);
    color: #ffffff;

    ul {
      padding: 1em 1em;
      list-style-type: disc;
      list-style-position: outside;
    }

    .type {
      padding: 1rem 0rem 0rem;
      margin: 0rem 0rem 0rem 1.5rem;
    }
  }

  .red {
    @include texture(45deg, $red, lighten($red, 20%), 3);
  }

  .gre {
    @include texture(90deg, $gre, lighten($gre, 20%), 3);
  }

  .pur {
    @include texture(135deg, $pur, lighten($pur, 20%), 3);
  }

  .blu {
    @include texture(180deg, $blu, lighten($blu, 20%), 3);
  }
  
}

#testimos-slider {

  img, object {
    @include media(max-width 399px) {
      width: 90%;
      max-width: 250px;
    }
    @include media(min-width 400px max-width 767px) {
      width: 75%;
      max-width: 250px;
    }
    @include media(min-width 768px) {
      width: 33%;
      max-width: 250px;
    }
  }
}