@import '../neat/neat-helpers';

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 960px;

// Neat Breakpoints
$medium-screen: 768px;
$large-screen: 960px;

$small-screen-up: new-breakpoint(max-width em($medium-screen));
$medium-screen-up: new-breakpoint(min-width em($medium-screen + 1) max-width em($large-screen));
$large-screen-up: new-breakpoint(min-width em($large-screen + 1));
